* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(241, 241, 241, 1);
  padding: 23px;
}

.header-container {
  display: flex;

  margin: auto;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  font-family: "undefined";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: #202020;
}

.nav-link {
  text-decoration: none;
  font-family: "undefined";
  font-size: 14px;
  font: weight 400px;
  font-style: normal;
  text-align: left;
  color: #202020;
  margin-left: 11px;
}

.login {
  text-decoration: none;
  font-family: "undefined";
  font-size: 14px;
  font: weight 400px;
  color: #202020;
}

.hero {
  margin-top: 100px;
  margin-bottom: 100px;
}

.hero-container {

  display: flex;
}

.image-block {
  position: relative;
  margin-right: 122px;
}

.sale-label {
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: red;
  padding: 12px 17px;
  position: absolute;
  right: 0;
  top: 23px;
}

.name {
  color: #202020;
  font-size: 24px;
  font-style: normal;
}

.title {
  font-size: 54px;
  font-style: normal;
  color: #202020;
  margin-bottom: 15px;
  margin-top: 22px;
}

.title-en {
  display: flex;
  font-size: 24px;
  font-style: normal;
  color: #202020;
  max-width: 351px;
  height: 53px;
  margin-bottom: 48px;
}

.info-text {
  font-size: 16px;
  font-style: normal;
  color: #20202;
  flex-basis: 50%;
  margin-bottom: 16px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  max-width: 422px;
  margin-bottom: 49px;

}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 47px;
}


.priceteg {
  font-size: 55px;
  font-style: normal;
  text-align: left;
  color: #202020;
  margin-right: 64px;
}

.favorite {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  color: #202020;
  text-decoration: none;
}

.button {
  font-size: 16px;
  font-style: normal;
  padding: 22px 50px;
  font-weight: 700;
}

.button_1 {
  background: rgba(248, 156, 2, 1);
  color: white;
  border-radius: 5px;
  border: 2px solid rgba(248, 156, 2, 1);
}

.button_2 {
  background-color: white;
  border-color: rgba(248, 156, 2, 1);
  border-width: 2px;
  border-style: solid;
  color: rgba(248, 156, 2, 1);
  border-radius: 5px;
  text-decoration: none;
}

.about {
  background: rgba(241, 241, 241, 1);
  padding: 100px 0;

}

.about-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.about-book {
  max-width: 455px;
  flex-shrink: 0;

}

.about-auther {
  display: flex;
  flex-wrap: wrap;
  padding: 68px 53px;
  max-width: 552px;
  box-shadow: 0 1px 120px Orgba(161, 161, 161, 0.08);
  border-radius: 10px;
  border: 1px solid ■ #f3f3f3;
  background-color: #ffffff;
  align-items: center;
}

.author-text {
  flex-basis: 100%;
}

.section-title {
  font-size: 32px;
  font-style: normal;
  text-align: left;
  color: #202020;
  margin-top: 0;
}

.author-text {
  margin-top: 23px;
}

.auther-link {
  margin-bottom: 17px;
}

.about-name {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  color: #202020;
}

.auther-link {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  color: #202020;
  text-decoration: none;
}

.auther-avatar {
  margin-right: 17px;
}

.about-inf {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  color: #202020;
}

/* читатели */
.readers {
  padding-bottom: 103px;
}

.reader-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reader-title {
  margin-bottom: 56px;
  margin-top: 86px;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  color: #202020;
}

.foto {
  width: 173px;
  height: 173px;
}

/* подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 93px;
  background: rgba(241, 241, 241, 1)
}

.footer-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-title {
  margin-bottom: 32px;
  margin-top: 0;
  font-size: 18px;
  font-style: normal;
  color: #202020;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.list-item {
  margin-bottom: 16px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-color: rgba(238, 238, 238, 1);
  border-width: 1px;
  border-style: solid;
  padding: 18px;
}


@media (max-width:1200px) {

  .header-conteiner,
  .hero-conteiner,
  .about-container,
  .reader-conteiner,
  .footer-conteiner {
    width: 960px;
  }

  .image-block {
    min-width: 390px;
    max-width: 390px;
    margin-right: 40px;
  }

  .about-book {
    max-width: 367px;

    margin-right: 51px;
  }

  .readers {
    padding-top: 94px;
    margin-left: 130px;
  }

  .foto {
    width: 140px;
    height: 140px;
  }

  .requisties {
    /* margin-left: 50px; */
  }

  .contacts {
    /* margin-right: 100px; */
  }
}

@media (max-width:992px) {

  .header-container,
  .hero-container,
  .about-container,
  .reader-container,
  .footer-container {
    width: 760px;
  }

  .nav {
    display: none;
  }

  .image-block {
    min-width: 300px;
    max-width: 300px;
  }

  .auther-about {
    font-size: 22px;
  }

  .title {
    font-size: 46px;
    margin-bottom: 10px;
  }

  .info {
    margin-bottom: 0px;
  }

  .info-text {
    font-size: 16px;
  }

  .price {
    margin-bottom: 30px;
  }

  .button {
    padding: 20px 49px;
  }

  .age,
  .format {
    flex-grow: 1;
  }

  .section-title {
    font-size: 24px;
    margin-bottom: 29px;
  }

  .about-container {
    display: flex;
    flex-wrap: wrap;
  }

  .about-book {
    max-width: 100%;
    margin-bottom: 62px;
  }

  .foto {
    width: 167px;
    height: 167px;
  }

  .fail-foto {
    display: none;
  }

  .requisties {
    /* margin-right: 0px; */
    /* margin-left: 10px; */
  }

  .contacts {
    /* margin-right: 121px; */
  }

}

@media (max-width:768px) {

  .header-container,
  .hero-container,
  .about-container,
  .reader-container,
  .footer-container {
    width: 560px;
  }

  .hero {
    padding-top: 40px;
  }

  .hero-container {
    flex-wrap: wrap;
  }

  .hero-image {
    width: 100%;
  }

  .image-block {
    min-width: 100%;
    margin-bottom: 60px;
  }

  .foto {
    width: 176px;
    height: 175px;
  }

  .fail-2-foto {
    display: none;
  }

  .requisties {
    margin-right: 40px;
    margin-bottom: 60px;
  }

}

@media (max-width:768px) {

  .header-container,
  .hero-container,
  .about-container,
  .reader-container,
  .footer-container {
    width: 95%;
  }

  .auther-about {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 19px;
  }

  .title-en {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .info {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .info-text {
    flex-basis: 100%;
    margin-bottom: 19px;
  }

  .button {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .button_1 {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .about-book {
    margin-bottom: 70px;
  }

  .about-auther {
    padding: 54px 44px;
  }

  .author-text {
    font-size: 14px;
  }

  .auther-avatar {
    width: 64px;
    height: 64px;
  }

  .requisties,
  .information,
  .contacts {
    flex-basis: 100%;
    margin-bottom: 36px;
    margin-right: 0;
  }

  .footer-title {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .footer-list {
    font-size: 16px;
  }

  .foto {
    width: 145px;
    height: 144px;
  }

}



.container {
  width: 90%;
  margin: auto;
}